.about-donate-banner{
    .about-donate-banner-content{
        position: relative;
        .donate-banner-pic-pc {
            display: none;
        }
        .donate-banner-txt{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 20px 0;
            background-color: rgba(255, 255, 255, .5);
            z-index: 2;
            h2{
                font-size: 20px;
                font-weight: 700;
            }
            p{
                padding: 5px 15px;
                margin-bottom: 10px;
                text-align: justify;
            }
            a{
                padding: 5px 10px;
                border-radius: 5px;
                background-color: #f00;
                color: #fff;
            }
        }
    }
}
@media screen and (min-width: 576px) {
    .about-donate-banner{
        .about-donate-banner-content{
            .donate-banner-txt{
                h2 {
                    padding: 5px 0;
                }
                p{
                    padding: 15px 40px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .about-donate-banner{
        .about-donate-banner-content{
            .donate-banner-pic-pc{
                display: block;
            }
            .donate-banner-pic-m{
                display: none;
            }
            .donate-banner-txt{
                width: 50%;
                background-color: transparent;
                p{
                    padding: 0 60px;
                }
            }
        }
        .about-donate-banner-content::before{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(115deg, rgba(255, 255, 255, .7) 50%, transparent 50%);
        }
    }
}
@media screen and (min-width: 992px){
    .about-donate-banner{
        .about-donate-banner-content{
            .donate-banner-txt{
                h2{
                    padding: 10px 0;
                }
                p{
                    padding: 5px 150px;
                }
            }
        }
    }
}