/* about-tenet 成立宗旨 */
.about-tenet-content {
    h3{
        color: #aaa;
        margin-bottom: 10px;
    }
    .tenet-list{
        margin-bottom: 20px;
        li{
            position: relative;
            padding: 5px 1em;
            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: #000;
            }
        }

    }
}
@media screen and (min-width: 576px) {
    .about-tenet-content {
        h2,
        h3 {
            text-align: center;
            margin-bottom: 0;
        }
        .section-title:before{
            display: none;
        }
        .tenet-list{
            width: 83%;
            max-width: 1099px;
            margin: 0 auto 30px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                font-size: 18px;
                line-height: 1.5;
                &::before,
                &::after{
                    width: 1px;
                    height: 50%;
                    border-radius: 0 0 0 0;
                }
                &::after{
                    left: auto;
                    right: 0;
                }
            }
            li:nth-of-type(even):before{
                display: none;
            }
            
        }
        p{
            width: 83%;
            max-width: 1099px;
            padding: 0;
            margin: 0 auto;
        }
    }
}
@media screen and (min-width: 790px){
    .about-tenet-content{
        .tenet-list{
            li:nth-of-type(4):before{
                display: block;
            }
            li:nth-of-type(3):before,
            li:nth-of-type(5):before{
                display: none;
            }
        }
    }
}
@media screen and (min-width: 1110px) {
    .about-tenet-content {
        .tenet-list {
            width: 100%;
            max-width: auto;
            li:nth-of-type(1) ~ li:before{
                display: none;
            }
        }
        p{
            max-width: auto;
        }
    }
}
/* about-tenet 成立宗旨 */