.feeding{
    .feeding-wrap{
        border: 1px solid $activity-list-border;
        padding-bottom: 20px;
        .pic{
            .pic-pc{
                display: none;
            }
            .pic-xl{
                display: none;
            }
        }
        .feeding-text{
            padding: 0 10px;
            display: flex;
            flex-direction: column;
            h3{
                padding: 10px 0;
                font-size: 18px;
                text-align: center;
            }
            p{
                margin-bottom: 20px;
                span{
                    display: block;
                }
            }
            .feeding-btns{
                margin: auto auto 0 auto;
                display: flex;
                justify-content: center;
                .pet-btn{
                    margin: 0 10px;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .feeding{
        .feeding-wrap{
            display: flex;
            padding-bottom: 0;
            border: none;
            .pic{
                width: 40%;
                .pic-pc{
                    display: block;
                }
                .pic-m{
                    display: none;
                }
            }
            .feeding-text{
                width: 60%;
                padding: 20px;
                position: relative;
                h3{
                    text-align: left;
                }
                P{
                    margin: auto 0;
                }
                .feeding-btns{
                    margin: auto 0 0 auto;
                }
            }
            .feeding-text::before{
                content: '讓浪浪溫飽';
                position: absolute;
                display: block;
                right: 0;
                top: 0;
                width: 30%;
                padding: 5px 1px;
                text-align: right;
                border-top: 1px solid #0690db;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .feeding {
        .feeding-wrap {
            .feeding-text {
                p {
                    span {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .feeding {
        .feeding-wrap {
            .pic {
                .pic-pc {
                    display: none;
                }

                .pic-xl {
                    display: block;
                }
            }
        }
    }
}