@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&family=Roboto:wght@100;300;500;700;900&display=swap');
body {
    position: relative;
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}
body.body-fix{
    height: 100vh;
    overflow: hidden;
}
*{
    box-sizing: border-box;
    // outline: 1px solid #f00;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-full {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-sm{
    padding: 25px 0;
}
@media screen and (min-width: 992px){
    .section-lg{
        padding: 50px 0;
    }
}
a {
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #000;
    text-decoration: none;
}
img {
    width: 100%;
    vertical-align: middle;
}
h1 {
    font-size: 0;
}
h3{
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, p, a, span, li{
    line-height: 1.5;
    text-align: justify;
}
.section-title{
    font-size: 20px;
    padding: 10px 0;
    font-weight: 700;
}
.block-title{
    font-size: 0;
}
.back-top,
.donate-us{
    position: fixed;
    right: 100%;
    opacity: 0;
    transition: opacity 1s, right 0s 1s;
    z-index: 555;
}
.donate-us{
    top: 30%;
    a{
        display: block;
        font-size: 18px;
        padding: 10px 6px;
        writing-mode: vertical-rl;
        background-color: #ff000090;
        color: #fff;
        border-radius: 5px;
    }
}
.back-top{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: rgba(0,0,0, .3);
    bottom: 60px;
    cursor: pointer;
}
.back-top.show-back,
.donate-us.show-donate {
    right: 10px;
    opacity: 1;
    transition: opacity 1s;
}
.section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        padding: 10px 0 10px 15px;
        color: $section-head-all;
    }
}

.pet-btn {
    display: block;
    padding: 5px 10px;
    background-color: $btn-bgc;
    border-radius: 5px;
    transition: .3s;
}
@media screen and (min-width: 992px){
    .pet-btn:hover {
        transform: scale(1.2);
    }
}
