@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500;700;900&family=Roboto:wght@100;300;500;700;900&display=swap');
body {
    position: relative;
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
    // max-width: 100%;
    // overflow-x: hidden;
}
*{
    box-sizing: border-box;
    // outline: 1px solid #f00;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-sm{
    padding: 25px 0;
}
@media screen and (min-width: 992px){
    .section-lg{
        padding: 50px 0;
    }
}
h1 {
    font-size: 0;
}
h2{
    font-size: 20px;
}
h1, h2, h3, h4, h5, h6, p, a, span{
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    width: 100%;
    vertical-align: middle;
}
.block-title{
    font-size: 0;
}
.section-title{
    font-size: 24px;
    padding: 10px 0;
}
.back-top,
.donate-us{
    position: fixed;
    right: 100%;
    opacity: 0;
    transition: opacity 1s, right 0s 1s;
}
.back-top{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: rgba(0,0,0, .3);
    bottom: 60px;
    cursor: pointer;
}
.donate-us{
    top: 50%;
    transform: translateY(-50%);
    a{
        display: block;
        padding: 7px 5px;
        writing-mode: vertical-rl;
        background-color: #f00;
        color: #fff;
        border-radius: 5px;
    }
}
.back-top.show-back,
.donate-us.show-donate {
    right: 10px;
    opacity: 1;
    transition: opacity 1s;
}
.section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        padding: 10px 15px;
        color: $section-head-all;
    }
}