.donate-placard{
    padding: 10px 0;
    .donate-placard-content{
        .section-title{
            text-align: center;
            padding: 10px 15px;
            background-color: $donate-support-bgc;
        }
        p {
            padding: 15px;

            span {
                display: block;
            }
        }
    }
}

.donate-support{
    .donate-support-content{
        .donate-support-pic{
            border: 1px solid #fff;
            img:nth-of-type(2){
                display: none;
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            padding: 20px 20px 0 20px;
            ul, p{
                margin-bottom: 20px;
            }
            .pet-btn{
                margin: 0 auto;
            }
        }
    }
}

.donate-item{
    .donate-support-content{
        position: relative;
    }
    .donate-support-content:before,
    .donate-support-content:after{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        border-bottom: 1px solid #ccc;
    }
    .donate-support-content:before{
        top: -25px;
    }
    .donate-support-content:after{
        bottom: -25px;
    }
}
@media screen and (min-width: 768px) {
   .donate-support {
       .donate-support-content {
           display: flex;
           justify-content: space-between;
           .donate-support-pic{
               width: 49%;
           }
           .text{
               width: 49%;
               padding: 0 20px;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               h2{
                   text-align: left;
               }
               ul{
                   li{
                       font-size: 14px;
                   }
               }
               ul, p{
                   margin-bottom: 0;
                   font-size: 14px;
               }
               .pet-btn{
                   margin-left: auto;
               }
           }
       }
   }
   .donate-item {
       .donate-support-content{
          .donate-support-pic{
              order: 1;
          }
       }
   }
}
.modal-dialog{
    max-width: 700px;
}
@media screen and (min-width: 992px){
    .donate-placard {
        padding: 10px 0;

        .donate-placard-content {
            .section-title {
                text-align: left;
            }

        }
    }
    .donate-support{
        .donate-support-content{
            .donate-support-pic{
                img:nth-of-type(1) {
                    display: none;
                }

                img:nth-of-type(2) {
                    display: block;
                }
            }
            .text {
                width: 49%;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                    text-align: left;
                }

                ul {
                    li {
                        font-size: 16px;
                    }
                }

                ul,
                p {
                    font-size: 16px;
                }
            }
            
        }
    }
    .donate-item {
        .donate-support-content:before {
            top: -50px;
        }

        .donate-support-content:after {
            bottom: -50px;
        }
    }
}
    
@media screen and (min-width: 1200px){
    .donate-support {
        .donate-support-content {
            .text {

                h2 {
                    text-align: left;
                }

                ul {
                    li {
                        font-size: 18px;
                    }
                }

                ul,
                p {
                    font-size: 18px;
                }
            }

        }
    }
}