
/* index-banner-slider */
.index-banner-slider{
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide {
        img {
            object-fit: cover;
        }
    }

    .swiper-color {
        color: #fff !important;
    }

    .swiper-pagination-bullet-active {
        background: #fff !important;
    }

    .slider-pc-pic {
        display: none;
    }
}

@media screen and (min-width: 992px){
    .index-banner-slider{
        .banner-slider {
            padding-top: 10px;
        }

        .slider-container {
            padding: 0 15px;
        }

        .swiper-slide {
            .slider-pc-pic {
                display: block;
                // height: 25vw;
            }
        }

        .swiper-slide {
            .slider-mobile-pic {
                display: none;
            }
        }
    }
}

/* index-banner-slider */