/* 帶我回家 */
.pet-content{
    .pet-home-list{
        li{
            border: 1px solid $list-border;
            border-radius: 10px;
            overflow: hidden;
        }
        li:nth-child(1),
        li:nth-child(2){
            margin-bottom: 30px;
        }
        .pet-txt{
            display: flex;
            flex-direction: column;
            padding: 20px;
            h3, p {
                font-size: 18px;
            }
            a{
                margin-left: auto;
                padding: 10px;
                border: 1px solid $anchor-button-border;
                border-radius: 10px;
                transition: .3s;
            }
        }
    }
}
@media screen and (min-width: 992px){
    .pet-content{
        .pet-home-list{
            display: flex;
            justify-content: space-between;
            li{
                width: 32%;
            }
            li:hover{
                a{
                    border: 1px solid $hover-border;
                    background-color: $hover-background;
                    color: $hover-color;
                }
            }
            li:nth-child(1),
            li:nth-child(2) {
                margin-bottom: 0;
            }
        }
    }   
}
/* 帶我回家 */