
.pet-house{
    .pet-house-content{
        display: flex;
        flex-direction: column;
        .house-pic{
            .house-pic-pc{
                display: none;
            }
        }
        .pet-house-text{
            margin-bottom: 10px;
           p {
               padding: 0 15px;

               span {
                   display: block;
                   margin-bottom: 10px;
               }
           }
        }
        .pet-btn-pc{
            display: none;
        }
        .pet-btn-m{
            margin: 0 auto;
        }
        .btn-group{
            display: flex;
            justify-content: center;
            .pet-btn-m{
                margin: 0 10px;
            }
        }
    }
}
@media screen and (min-width: 992px){
    .pet-house {
        .pet-house-content {
            flex-direction: row;
            .section-title {
                text-align: left;
            }

            .house-pic {
                width: 40%;
                .house-pic-pc {
                    display: block;
                }
                .house-pic-m{
                    display: none;
                }
            }

            .pet-house-text {
                width: 60%;
                margin-bottom: 0;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    padding: 0;
                }
            }

            .pet-btn-pc {
                display: block;
                margin-left: auto;
            }

            .pet-btn-m {
                display: none;
            }

            .btn-group {
                display: flex;
                justify-content: center;
                margin-left: auto;

                .pet-btn-pc {
                    margin: 0 10px;
                }
            }
        }
    }
    .pet-house:nth-of-type(2){
        border-bottom: 1px solid #000;
    }
}
@media screen and (min-width: 1200px){
    .pet-house {
        .pet-house-content {
            .pet-house-text {
                p {
                    margin-bottom: 30px;
                }
            }
        }
    }
}