.recent-activity{
    .recent-list{
        li{
            margin-bottom: 30px;
            border: 1px solid $recent-list-border;
            .recent-pic{
                position: relative;
                .join-act{
                    position: absolute;
                    display: block;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    padding: 10px 0;
                    text-align: center;
                    background-color: $recent-connet-bgc;
                    span{
                        color: $recent-connet-font;
                    }
                }
            }
            .recent-txt{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px 20px;
                h2{
                    font-size: 18px;
                    text-align: center;
                    font-weight: 700;
                    padding: 10px;
                }
                p{
                    font-size: 1.2rem;
                }
                .act-date{
                    margin: 0 auto 10px;
                    margin-bottom: 5px;
                    font-size: 1.05rem;
                    span{
                        margin-right: 5px;
                    }
                    span:first-of-type{
                        color: $recent-act-date;
                    }
                }
                p:last-of-type{
                    text-align: justify;
                }
            }
        }
        li:last-of-type {
            margin-bottom: 0;
        }
    }
}
@media screen and (min-width: 768px){
    .recent-activity {
        .recent-list {
            display: block;
            li {
                width: 100%;
                display: flex;
                margin-bottom: 50px;
                padding-top: 50px;
                border: none;
                .recent-pic{
                    width: 50%;
                    .join-act{
                        width: 20%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        span{
                            margin-bottom: 10px;
                        }
                        span:last-of-type{
                            margin-bottom: 0;
                        }
                        .far{
                            font-size: 30px;
                        }
                    }
                }
                .recent-txt{
                    width: 50%;
                    position: relative;
                    padding: 40px 50px 0;
                    h2{
                        position: absolute;
                        width: 110%;
                        padding: 20px 0;
                        top: -39px;
                        left: -10%;
                        font-size: 24px;
                        border: 1px solid $recent-list-border;
                        background-color: #fff;
                    }
                    .act-date {
                        font-size: .95rem;
                    }
                    p:last-of-type {
                        font-size: 1.05rem;
                    }
                }
            }
            li:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (min-width: 900px){
   .recent-activity {
       .recent-list {
           li {

                .recent-txt {
                    .act-date {
                        font-size: 1.1rem;
                    }
                    p:last-of-type {
                        font-size: 1.3rem;
                    }
                }
           }
       }
   }
}
@media screen and (min-width: 1100px){
   .recent-activity {
       .recent-list {
           li {
                .recent-txt {
                    .act-date {
                        font-size: 1.25rem;
                    }
                    p:last-of-type {
                        font-size: 1.5rem;
                    }
                }
           }
       }
   }
}
@media screen and (min-width: 1200px){
    .recent-activity{
        .recent-list{
            li{
                .recent-txt{
                    .act-date {
                        font-size: 1.5rem;
                        margin-bottom: 15px;
                    }
                    p:last-of-type {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}