$header-background: #fff;
$header-boder-color: #000;
$hover-border: #fa0;
$hover-background: #fa0;
$hover-color: #fff;
$menu-title-border-mobile: #fa0;
$menu-title-border-pc: transparent;
$menu-title-background: #ccc;
$menu-title-color: #fff;
$menu-background-color-mobile: #000;
$menu-background-color-pc: transparent;
$menu-font-color-mobile: #fff;
$menu-font-color-pc: #000;
$menu-ham-color: #000;
$icon-hover-color: #fa0;
$article-border: #ccc;