$btn-bgc: #ffe562;

$section-head-all: #aaa;
$box-shadow: #00000050;
$header-background: #fff;
$header-list-bgc-m: #fff;
$header-logo-boder-color: #fff;
$hover-border: #fa0;
$hover-background: #fa0;
$hover-color: #fff;
$hover-font-color: #777;

$menu-title-border-mobile: #fa0;
$menu-title-border-pc: transparent;
$menu-title-background: #ccc;
$menu-title-font-m: #000;
$menu-sub-list-bgc-m: #000;
$menu-sub-list-font-m: #fff;
$menu-background-color-pc: #fff;
$menu-font-color-pc: #000;
$menu-ham-color: #000;
$icon-hover-color: #fa0;

$list-border: #ccc;
$list-background: #fff;
$anchor-button-border: #aaa;

$pet-banner-connect-background: #fcaead;
$pet-banner-connect-font-color: #fff;
$pet-banner-connect-border: #fff;

$article-hashtag-bgc-1: #fcaead;
$article-hashtag-bgc-2: #8ce9e7;

$pet-product-background: #f5f5f5;
$pet-product-list-bgc: #fff;
$pet-product-list-border: #fff;
$pet-product-hashtag-bgc-1: #fcaead;
$pet-product-hashtag-bgc-2: #8ce9e7;
$pet-product-hashtag-bgc-3: #7ca1f1;
$pet-product-hashtag-font: #fff;

$half-title-border-m: #000;
$half-list-border-m: #fa0;
$half-list-border-pc: #fa0;
$half-list-bgc-m: #ccc;
$half-list-bgc-pc: #fff;
$half-list-font-m: #333;
$half-home-title-border-pc: #fa0;
$half-home-title-bgc-pc: #fff;
$half-home-title-font-pc: #000;
$half-list-dockbar-bgc: #000;

$footer-section-bgc: #ffe562;
$footer-border-color: #fff;
$footer-font-color: #000;

$about-banner-border: #fa0;
$about-info-list-border: #c0c0c0;
$about-info-list-icon: #c0c0c0;
$about-info-h3: #c0c0c0;
$about-info-p: #777;

$donate-support-bgc: #ffe562;

$take-me-bgc: #ffe562;

