// 變數
@import 'variable';
// 共用
@import 'common';
@import 'loading';
// 首頁
@import 'header';
@import 'index_banner-slider';
@import 'index_featured-article';
@import 'index_pet-home';
@import 'index_calendar';
@import 'index_pet-donate';
@import 'index_pet-product';
@import 'index_half-way';
@import 'footer';

//關於我 
@import 'about-banner';
@import 'about-tenet';
@import 'about-info';
@import 'about-donate-banner';
@import 'about-future-plan';
@import 'about_contact-us';

// 捐贈捐款
@import 'donate-support';
// 捐款內頁
@import 'donate-step-1';
@import 'donate-step-2';

// 領養
@import 'pet-house';
@import 'adopt-animal';
@import 'adopt-details';

// 全部商品頁面
@import 'all-product_product-sort-m';
@import 'all-product_product-sort-pc';
@import 'all-product_product-list-group';

// 商品內頁
@import 'product-content';

// 購物車
@import 'cargo-step-1';
@import 'cargo-step-2';
@import 'cargo-step-3';

// 文章列表
@import 'article_all-article-sort-m';
@import 'article_all-articles';
@import 'article_article-pet-life';
@import 'article_article-pet-food';
@import 'article-article-pet-environment';
@import 'article-article-pet-health';
@import 'article-article-pet-law';
@import 'article-article-others';

// 文章內頁
@import 'article-content';

// 活動頁面
@import 'activity-activity';
@import 'activity-feeding';
@import 'activity-report';
@import 'activity-apply';

// 近期活動
@import 'recent-activity';